@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(30, 18%, 87%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
  --background: hsl(29, 53%, 90%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;

  display: flex;
  justify-content: center;
}

hr {
  height: 1px;
  background-color: var(--Stone-150);
  border: none;
}

.recipe-component {
  background-color: var(--White);
}

.recipe-content,
.recipe-header,
.recipe-footer {
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 30px;
}

.recipe-main-title {
  font-family: "Young Serif", serif;
  line-height: 2rem;
  font-size: 2.25rem;
  margin-top: 30px;
}
.recipe-thumbnail-mobile,
.recipe-thumbnail-desktop {
  width: 100%;
}

.prep-items,
.ingredient-items,
.instructions-items {
  padding: 20px;
}

.sub-heading {
  font-size: 1.8rem;
}
.prep-content {
  background-color: var(--Rose-50);
  padding: 20px;
  margin-top: 30px;
  border-radius: 20px;
}
.prep-items {
  font-family: "Outfit", sans-serif;
  color: var(--Stone-600);
}

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.outfit-font {
  font-family: "Young Serif", serif;
}
.main-description {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.5em;
  font-style: normal;
  font-size: 1rem;
  color: var(--Stone-600);
  margin-top: 30px;
}

ul::after {
  margin-right: 30px;
}
.brown-color {
  color: var(--Brown-800);
}

.prep-title {
  font-family: "Outfit", sans-serif;
  color: var(--Rose-800);
}

ul.prep-items > li::marker {
  color: var(--Rose-800);
}

ul.prep-items > li,
ul.ingredient-items > li,
ol.instructions-items > li {
  margin: 10px;
  font-family: "Outfit", sans-serif;
  color: var(--Stone-600);
  line-height: 1.5rem;
}

.instructions-items {
  line-height: 1.75rem;
}

ol.instructions-items li::marker,
ul.ingredient-items > li::marker {
  color: var(--Brown-800);
  margin: 80px;
}

.recipe-footer {
  display: flex;
  flex-direction: column;
}

.nutrition-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--Stone-100);
  align-content: start;
}

.nutrition-item:last-child {
  border-bottom: none;
}

.nutrition-item :nth-child(1) {
  padding-left: 30px;
}

.nutrition-item div {
  width: 100px;
  margin-right: auto;
}

.attribution {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 1440px) {
  .recipe-thumbnail-desktop {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .recipe-thumbnail-mobile {
    display: none;
  }

  body {
    background-color: var(--background);
  }
  .recipe-component {
    margin-top: 120px;
    width: 720px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
  }
  .recipe-thumbnail {
    border-radius: 10px;
  }
}
