@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500..800&display=swap");

:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950: hsl(0, 0%, 7%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-color: var(--Yellow);
  overflow: hidden; /* Hide scrollbars */
}

.blog-card {
  background-color: var(--White);
  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
  filter: drop-shadow(11px 11px 0px #000000);
}
