:root {
  --clr-Dark-cyan-primary: hsl(158, 36%, 37%);
  --clr-Cream-secondary: hsl(30, 38%, 92%);

  --clr-Very-dark-blue-neutral: hsl(212, 21%, 14%);
  --clr-Dark-grayish-blue-neutral: hsl(228, 12%, 48%);
  --clr-White-neutral: hsl(0, 0%, 100%);

  --ff-accent: "Frances", "serif";
  --ff-base: "Montserrat", sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.7;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1,
h2,
h3 {
  line-height: 1;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

p {
  font-size: 0.875rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  background-color: var(--clr-Cream-secondary);
  font-size: 0.875rem;
  color: var(--clr-Very-dark-blue-neutral);

  display: grid;
  min-height: 100vh;
  place-content: center;
  margin: 1rem;
}

.flex_group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.product {
  --content-padding: 3rem;
  --content-spacing: 0.5rem;

  background-color: var(--clr-White-neutral);
  border-radius: 0.5rem;
  overflow: hidden;
}

.product__content {
  display: grid;
  gap: var(--content-spacing);
  padding: var(--content-padding);
}

.product__category {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.825rem;
}

.product__title {
  font-size: 2rem;
  font-family: var(--ff-accent);
  color: var(--clr-Very-dark-blue-neutral);
}

.product__price {
  font-size: 2rem;
  font-family: var(--ff-accent);
  color: var(--clr-Dark-cyan-primary);
}
